@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  height: 100vh !important;
}

.fp-warning,
.fp-watermark a {
  display: none !important;
}

.darkened-image {
  filter: brightness(50%);
}

.text-image {
  font-family: fantasy;
}

img {
  height: 100%;
}
